@media only screen and (max-width: 1620px) {
    
}

@media only screen and (max-width: 1300px) {
    .main {
        &_container {
            padding: 0 140px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .main {
        &_container {
            padding: 0 40px;
        }
    }

    .footer {
        &_top {
            text-align: center;
            flex-direction: column;
            align-items: center;
            gap: 50px;
            padding: 70px 0;
        }

        &_social {
            h6 {
                text-align: left;
            }
        }

        &_bottom {
            flex-direction: column;
            gap: 20px;

            .footer_bottom_link_one {
                order: 1;
            }

            .footer_bottom_link_two {
                order: 2;
            }

            .footer_bottom_text {
                order: 3;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .main {
        &_container {
            padding: 0 20px;
        }
    }

    .footer {
        .footer_white_block {
            border-radius: 0 0 60px 60px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .main {
        &_container {
            padding: 0 10px;
        }
    }
}